## Dados Bolsa Família - janeiro/2020

In [ ]:
import pandas as pd
import numpy as np
import codecs
from pathlib import Path, PureWindowsPath

In [ ]:
file = PureWindowsPath('C:/DataSets/python/bolsafamilia_jan2020.csv')

In [ ]:
df = pd.read_csv(file, sep=';')

df.head()

In [ ]:
import unicodedata
import re

"""
A remoção de acentos foi baseada em uma resposta no Stack Overflow.
http://stackoverflow.com/a/517974/3464573
"""

def removerAcentosECaracteresEspeciais(df):

    # Unicode normalize transforma um caracter em seu equivalente em latin.
    nfkd = unicodedata.normalize('NFKD', df)
    palavraSemAcento = u"".join([c for c in nfkd if not unicodedata.combining(c)])

    # Usa expressão regular para retornar a palavra apenas com números, letras e espaço
    return re.sub('[^a-zA-Z0-9 \\\]', '', palavraSemAcento)

In [27]:
import sqlite3
from sqlite3 import Error

In [28]:
conn = sqlite3.connect('bolsafamilia.db')

In [29]:
df.to_sql(name='janeiro2020', con=conn)

C:\Users\Claudio\Anaconda3\lib\site-packages\pandas\core\generic.py:2779: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

ValueError: Table 'janeiro2020' already exists.

In [ ]:
!sqlite3 bolsafamilia.db ".tables"

In [ ]:
!sqlite3 bolsafamilia.db "PRAGMA table_info(janeiro2020)"

In [ ]:
type(df)

In [ ]:
df

In [ ]:
query = """
           select "UF", "CPF FAVORECIDO", "NOME FAVORECIDO", "VALOR PARCELA"
           FROM janeiro2020

"""

df = pd.read_sql(query, con=conn, index_col='0')
df