## Valor de Mercado da APPLE em Setembro/2021 - Análise Exploratória
### Período Analisado: Set/2016 a Set/2021

In [224]:
#Importando as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [225]:
#Criando nosso DataFrame  #Cotação Dólar em 28/09/2021 = R$ 5,4293
df = pd.read_csv("C:/DataSets/python/valormercadoapple.csv")
df.head()

         Date    Close     Volume     Open       High        Low
0  09/28/2021  $141.91  108972300  $143.25    $144.75    $141.69
1  09/27/2021  $145.37   74150730  $145.47    $145.96    $143.82
2  09/24/2021  $146.92   53477870  $145.66  $147.4701    $145.56
3  09/23/2021  $146.83   64838170  $146.65    $147.08    $145.64
4  09/22/2021  $145.85   76404340  $144.45    $146.43  $143.7001

In [226]:
#Verificando tamando do dataset
df.shape

(1258, 6)

In [227]:
#Verificando tipo de dados do dataset
df.dtypes

Date      object
Close     object
Volume     int64
Open      object
High      object
Low       object
dtype: object

In [228]:
#DataFrame com as Cotações e Volumes diários das Ações da Apple
df = df.rename(columns={'Date': 'Data', 'Close': 'Cot_Final', 'Open': 'Cot_Inicial', 'High': 'Maior_Cot', 'Low': 'Menor_Cot',})
df.head()

         Data Cot_Final     Volume Cot_Inicial  Maior_Cot  Menor_Cot
0  09/28/2021   $141.91  108972300     $143.25    $144.75    $141.69
1  09/27/2021   $145.37   74150730     $145.47    $145.96    $143.82
2  09/24/2021   $146.92   53477870     $145.66  $147.4701    $145.56
3  09/23/2021   $146.83   64838170     $146.65    $147.08    $145.64
4  09/22/2021   $145.85   76404340     $144.45    $146.43  $143.7001

In [223]:
#Buscando valor da cotação atual do Dólar(R$)
import requests
import json

requisicao = requests.get("https://economia.awesomeapi.com.br/json/last/USD-BRL")
cotacao = json.loads(requisicao.text)
df_cotacao = pd.to_numeric(cotacao['USDBRL']['bid'], errors = 'coerce')
print(df_cotacao)

5.4152

In [207]:
#Buscando Valor Atual da Ação da Apple
dolar = float(input("Informe o valor da cotação final em: US$ "))
cotacao = float(input ("Informe o valor da cotação do dólar em: R$ "))
conversao = cotacao*dolar
print('O Valor de 1(uma) Ação da APPLE convertido em Reais é: R$', ("%.2f" % conversao).replace(".", ","))

Informe o valor da cotação final em: US$ 141.91
Informe o valor da cotação do dólar em: R$ 5.4152
O Valor de 1(uma) Ação da APPLE convertido em Reais é: R$ 768,47

In [250]:
#Maior Volume de Ações vendido no período convertidos em Real(R$)
M_Volume = round(df["Volume"].max() * df_cotacao, 2)
M_Volume

2422485387.84