## Dados da Covid-19 Brasil

In [5]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv("C:\DataSets\python\covid19brasil.csv", sep=",", parse_dates=['date','last_available_date'], dayfirst=True)
df.head(5)

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,Rio Branco,1200401.0,2020-03-17,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-17,0.0,0,1,city,AC,3,0
1,NaN,12.0,2020-03-17,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-17,0.0,0,1,state,AC,3,0
2,Rio Branco,1200401.0,2020-03-18,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-18,0.0,0,2,city,AC,0,0
3,NaN,12.0,2020-03-18,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-18,0.0,0,2,state,AC,0,0
4,Rio Branco,1200401.0,2020-03-19,202012,413418.0,407319.0,False,False,4,0.96754,2020-03-19,0.0,0,3,city,AC,1,0

In [23]:
df.shape

(2775376, 18)

In [24]:
# Função IsNA - soma de valores Não Disponíveis
from numpy import nan as NA 
df.isna().sum()

city                                             14935
city_ibge_code                                    9998
date                                                 0
epidemiological_week                                 0
estimated_population                              9998
estimated_population_2019                         9998
is_last                                              0
is_repeated                                          0
last_available_confirmed                             0
last_available_confirmed_per_100k_inhabitants    25518
last_available_date                                  0
last_available_death_rate                            0
last_available_deaths                                0
order_for_place                                      0
place_type                                           0
state                                                0
new_confirmed                                        0
new_deaths                                           0
dtype: int64

In [25]:
df[df['city'].isnull()]

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
1,NaN,12.0,2020-03-17,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-17,0.0000,0,1,state,AC,3,0
3,NaN,12.0,2020-03-18,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-18,0.0000,0,2,state,AC,0,0
5,NaN,12.0,2020-03-19,202012,894470.0,881935.0,False,False,4,0.44719,2020-03-19,0.0000,0,3,state,AC,1,0
7,NaN,12.0,2020-03-20,202012,894470.0,881935.0,False,False,7,0.78259,2020-03-20,0.0000,0,4,state,AC,3,0
9,NaN,12.0,2020-03-21,202012,894470.0,881935.0,False,False,11,1.22978,2020-03-21,0.0000,0,5,state,AC,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2774815,NaN,17.0,2021-09-12,202137,1590248.0,1572866.0,False,False,221058,13900.85068,2021-09-12,0.0168,3716,544,state,TO,87,3
2774955,NaN,17.0,2021-09-13,202137,1590248.0,1572866.0,False,False,221317,13917.13745,2021-09-13,0.0168,3719,545,state,TO,259,3
2775095,NaN,17.0,2021-09-14,202137,1590248.0,1572866.0,False,False,221540,13931.16042,2021-09-14,0.0168,3724,546,state,TO,223,5
2775235,NaN,17.0,2021-09-15,202137,1590248.0,1572866.0,True,False,221750,13944.36591,2021-09-15,0.0168,3728,547,state,TO,210,4
2775375,NaN,17.0,2021-09-16,202137,1590248.0,1572866.0,False,True,221750,13944.36591,2021-09-15,0.0168,3728,548,state,TO,0,0

In [27]:
df.dropna(how='all', inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2775376 entries, 0 to 2775375
Data columns (total 18 columns):
 #   Column                                         Dtype
---  ------                                         -----
 0   city                                           object
 1   city_ibge_code                                 float64
 2   date                                           datetime64[ns]
 3   epidemiological_week                           int64
 4   estimated_population                           float64
 5   estimated_population_2019                      float64
 6   is_last                                        bool
 7   is_repeated                                    bool
 8   last_available_confirmed                       int64
 9   last_available_confirmed_per_100k_inhabitants  float64
 10  last_available_date                            datetime64[ns]
 11  last_available_death_rate                      float64
 12  last_available_deaths                          int64
 13  order_for_place                                int64
 14  place_type                                     object
 15  state                                          object
 16  new_confirmed                                  int64
 17  new_deaths                                     int64
dtypes: bool(2), datetime64[ns](2), float64(5), int64(6), object(3)
memory usage: 365.3+ MB

In [29]:
df.count()

city                                             2760441
city_ibge_code                                   2765378
date                                             2775376
epidemiological_week                             2775376
estimated_population                             2765378
estimated_population_2019                        2765378
is_last                                          2775376
is_repeated                                      2775376
last_available_confirmed                         2775376
last_available_confirmed_per_100k_inhabitants    2749858
last_available_date                              2775376
last_available_death_rate                        2775376
last_available_deaths                            2775376
order_for_place                                  2775376
place_type                                       2775376
state                                            2775376
new_confirmed                                    2775376
new_deaths                                       2775376
dtype: int64